@charset "UTF-8";
@font-face {
    font-family: Idroid;
    src: url('idroid.otf') format('opentype');
}

body {
    background-color: #c5ebd6;
    margin: 0px;
}

main {
    background-color: lightgreen;
    border-left: 100px solid lightgreen;
    border-right: 100px solid lightgreen;
}

header {
    height: 150px;
    background-image: linear-gradient(to top, darkgreen, lightgreen);
    color: white;
    margin-top: 0px;
    padding-top: 1px;
    margin: auto;
}

#principal {
    text-align: center;
}

p#primeiroparagrafo {
    text-align: center;

}

nav {
    padding-left: 40px;
    text-decoration: none;
}

nav > a {
    color: white;
    padding-right: 15px;
}

nav > a:hover{
    text-decoration: underline;
}

section {
    background-color: white;
    color: green;
    padding: 20px 200px 20px 200px;
    margin: 0px;

    
    border-bottom-right-radius: 1%;
    border-bottom-left-radius: 1%;
}

section > h1, h2 {
    font-family: Idroid;
}

section > p {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: justify;
    text-indent: 20px;
    margin: auto;
}

.bugdroid {
    width: 300px;
    display: block;
    margin: auto;
}

section > picture {
    width: 800px;
    display: block;
    margin: auto;
}

iframe {
    width: 560px;
    display: block;
    margin: auto;
    background-color: darkgreen;
    padding: 10px 30px;
}

h2.conteudo {
    background-image: linear-gradient(to right, lightgreen, white);
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: green;
}

a.interno::after {
    content: ' 🔗';
}


section > article {
    background-color: rgb(186, 241, 186);
    color: white;

    border-bottom-right-radius: 1%;
    border-bottom-left-radius: 1%;
}

article > p {
    color: black;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-indent: 10px;
    text-align: justify;
}

p.extra {
    background-color: green;
    color: white;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

aside {
    width: 400px;
    margin: auto;
}

aside > ul {
    display: inline-block;
    margin: auto;
    list-style: none;
    color: black;
}

aside > ul li::before {
    content: '✓';
}

aside > ul li > a{
    text-decoration: underline;
    color: black;
}

.final {
    text-align: center;
}

footer {
    text-align: center;
    background-color: darkgreen;
    color: white;

    margin-top: 15px;
}